/* readthedocs */
.wy-side-nav-search {
    background-color: #004286;
}

.wy-nav-side {
    background-color: #434553;
}

.wy-menu a {
    color: #ffffff;
}

.wy-menu-vertical a:hover {
	background:#004286;
    color: #ffffff;
}

.wy-side-nav-search {
    background-color: #004286;
}

.wy-nav-top {
    background-color: #004286;
}

.wy-menu a {
    color: #ffffff;
}

.wy-menu-vertical a:hover {
	background:#004286;
}

.subnav {
    margin-left: 1em;
}

.caption-text {
    font-weight: bolder;
}

.rst-content dl:not(.docutils) dt {
    display: inline-block;
    margin: 6px 0;
        margin-top: 6px;
    font-size: 90%;
    line-height: normal;
    background: #e7f2fa;
    color: #004286;
    border-top: solid 2px #004286;
}

/* cinder */
.navbar-default {
    background-color: #004286;
}

footer small {
    font-size: 0.7em;
}

.navbar-brand {
    font-weight: 500;
}

.nav {
    font-weight: 500;
}

.alert {
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    font-size: 1em;
}

.alert a {
    color: #008cba;
    text-decoration: none;
}

a:hover, a:focus {
    color: #00526e;
    text-decoration: underline;
}

.buildinfo {
    font-size: 0.7em;
    color: #343838;
}

div[role=main] img {
    max-width: 100%;
}

.rst-content .note .admonition-title {
    background: #004286;
}
